extends layout

block content
    h1 Calculator
    table
        thead
            tr
                th Operation
                th Inputs
                th Result
        tbody(id="calculatorHolder")
    input(type="button", value="Calculate", id="calculatorButton")